$primary-scale: (
    50: #e3e3ee,
    100: #babad4,
    200: #8c8cb8,
    300: #5e5e9b,
    400: #3c3c85,
    500: #0e1655,
    600: #0e1655,
    700: #0e1655,
    800: #0e1655,
    900: #0e1655,
    A100: #0e1655,
    A200: #0e1655,
    A400: #0e1655,
    A700: #0e1655,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #ffffff,
        A200: #ffffff,
        A400: #000000,
        A700: #000000,
    ),
);

$accent-scale: (
    50: #e6f9f9,
    100: #c1f1f1,
    200: #98e7e8,
    300: #00ced1,
    400: #00ced1,
    500: #00ced1,
    600: #00ced1,
    700: #00ced1,
    800: #00ced1,
    900: #00ced1,
    A100: #00ced1,
    A200: #000000,
    A400: #000000,
    A700: #000000,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #ffffff,
        A200: #ffffff,
        A400: #ffffff,
        A700: #000000,
    ),
);

$warning-scale: (
    50: #fce8ec,
    100: #f7c6d0,
    200: #f2a1b1,
    300: #ec7b92,
    400: #e85e7a,
    500: #e44263,
    600: #e13c5b,
    700: #dd3351,
    800: #d92b47,
    900: #d11d35,
    A100: #e44263,
    A200: #ffd4d9,
    A400: #ffa1ac,
    A700: #ff8895,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #ffffff,
        A200: #ffffff,
        A400: #ffffff,
        A700: #000000,
    ),
);
