.admin-tools-home {
    &-title{
        font-weight: 600;
    }

    &-content{
        width: 100%;
    }

}

contezza-app-info{
    width: 100%;
}

.no-admin-empty-content-template{
    width: 100%;
}
